:root{
font-size: 2px;
}
.container{
display: flex;
flex-direction: row;
border-color: black;
background-color: #1589FF;
height: 12vh;
}
.main{
justify-content: space-between;
}
.navbar{
width: 15vw;
padding-top: 2vh;
padding-left: 5px;
color: white;
font-size: 17rem;
font-weight: bold;
}
.navcontent{
width: 10vw;
padding-left: 9px;
padding-top: 3vh;
color: #4c4c4c;
font-size: 13rem;
}
.downbar{
display: none;
}
.downbar2{
display: none;
}
.searchbox{
margin-top: 2vh;
padding-left: 30vw;
height: 15vh;
}
.searchbutton{
width: 11vw;
height: 30px;
padding-left: 6px;
padding-top: 9px;
padding-bottom: 9px;
color: white;
font-size: 13rem;
text-align: center;
border-style: solid;
border-width: 2px;
border-color: white;
margin-bottom: 10px;
margin-top: 14px;
margin-left: 6px;
margin-right: 10px;
border-radius: 10px;
}
.search{
width:20vw;
height: 7vh;
border-radius: 5px;
}
input[type="search"]
{
font-size:24px;
padding-left: 6px;
color: grey;
}
.border{
background-color: white;
color: black;
}
.content{
font-size: 14rem;
color: white;
}
.searchcontent{
border-width: 3px;
border-color: #ADDFFF;
box-shadow: -3px 4px 16px -2px;
}
.min{
width: 40vw;
height: 30vh;
margin-top: 10vh;
margin-left: 30vw;
border-style: solid;
border-width: 2px;
border-color: black;
font-size: 14rem;
padding-top: 10px;
background-color: #fffff8;
}
.downbarcontent{
height: 20vh;
width: 100%;
display: flex;
flex-direction: column;
border-color: black;
background-color: #1589FF;
display: none;
padding-bottom:10vh;
padding-left: 5px;
border-width: 1px;
border-style: solid;
border-color: white
}
.down{
height: 2vh;
font-size: 8rem;
display: none;
}
.sea{
margin-top: -7vh;
}
